{{#if @root.locals.user}}
  {{! if a user is logged in, we display either the view-mode or edit-mode toolbar, and associated scripts, styles, and templates }}
  <div data-uri="{{ default _ref _self }}" class="clay-kiln">
    {{#if @root.locals.edit}}
      {{! show edit mode styles and preload data}}
      <style>
          {{{ read 'node_modules/clay-kiln/dist/clay-kiln-edit.css' }}}
      </style>

      <script>
        // scaffold kiln preloading stuff (models, templates, schemae, data, locals),
        window.kiln = window.kiln || {};
        window.kiln.services = window.kiln.services || {};
        window.kiln.componentModels = window.kiln.componentModels || {};
        window.kiln.componentTemplates = window.kiln.componentTemplates || {};
        window.kiln.preloadSchemas = window.kiln.preloadSchemas || {};

        // then preload schemae and data for components on the page
        {{#each @root._componentSchemas}}
          window.kiln.preloadSchemas['{{ this.name }}'] = {{{ stringify (yaml (read this.schema)) }}};
        {{/each}}
        window.kiln.preloadData = {{{ default (stringify @root) '{}' }}};
        window.kiln.locals = {{{ default (stringify @root.locals) '{}' }}};
      </script>
    {{else}}
      {{! show view mode styles, no data preloading}}
      <style>
          {{{ read 'node_modules/clay-kiln/dist/clay-kiln-view.css' }}}
      </style>
    {{/if}}

    {{! always show toolbar when logged in}}
    <div class="kiln-toolbar-template">
      <div class="kiln-toolbar-wrapper">
        <div class="kiln-status"></div>
        <div class="kiln-progress-wrapper"></div>
        {{! note: toolbar pane gets added before kiln-toolbar }}
        <section class="kiln-toolbar {{#if @root.locals.edit}}edit-mode{{else}}view-mode{{/if}}">
          <button class="kiln-toolbar-button clay-menu-button">
            <div class="button-flex-inner">{{! we need this because firefox cannot make buttons display: flex }}
              <span class="icon">{{{ read 'node_modules/clay-kiln/media/clay-menu.svg' }}}</span>
              <span class="text">Clay</span>
            </div>
          </button>
          <button class="kiln-toolbar-button new">
            <div class="button-flex-inner">{{! we need this because firefox cannot make buttons display: flex }}
              <span class="icon">{{{ read 'node_modules/clay-kiln/media/new-page.svg' }}}</span>
              <span class="text">New Page</span>
            </div>
          </button>
          <div class="flex-span flex-span-outer {{#if @root.locals.edit}}kiln-hide{{/if}}"></div>
          {{! kiln-toolbar-inner is the lighter inner toolbar }}
          <div class="kiln-toolbar-inner">
            <button class="kiln-toolbar-button view-button {{#unless @root.locals.edit}}kiln-hide{{/unless}}" v-on:click="toggleLoading">
              <div class="button-flex-inner">{{! we need this because firefox cannot make buttons display: flex }}
                <span class="icon">{{{ read 'node_modules/clay-kiln/media/close-edit.svg' }}}</span>
              </div>
            </button>
            <button class="kiln-toolbar-button components {{#unless @root.locals.edit}}kiln-hide{{/unless}}">
              <div class="button-flex-inner">{{! we need this because firefox cannot make buttons display: flex }}
                <span class="icon">{{{ read 'node_modules/clay-kiln/media/search-page.svg' }}}</span>
                <span class="text">Components</span>
              </div>
            </button>
            <div class="flex-span flex-span-inner {{#unless @root.locals.edit}}kiln-hide{{/unless}}"></div>
            <button class="kiln-toolbar-button preview {{#unless @root.locals.edit}}kiln-hide{{/unless}}">
              <div class="button-flex-inner">{{! we need this because firefox cannot make buttons display: flex }}
                <span class="icon">{{{ read 'node_modules/clay-kiln/media/new-tab.svg' }}}</span>
                <span class="text">Preview</span>
              </div>
            </button>
            <button class="kiln-toolbar-button edit-button {{#if @root.locals.edit}}kiln-hide{{/if}}">
              <div class="button-flex-inner">{{! we need this because firefox cannot make buttons display: flex }}
                <span class="icon">{{{ read 'node_modules/clay-kiln/media/edit.svg' }}}</span>
              </div>
            </button>
          </div>
          <button class="kiln-toolbar-button publish">
            <div class="button-flex-inner publish-loading" v-if="isLoading">
              {{! loading status indicator, replaces with draft/scheduled/published after we get the page state }}
              <span class="icon"><icon name="draft" /></span>
              <span class="text">Loading&hellip;</span>
            </div>
            <div class="button-flex-inner publish-scheduled" v-else>
              <span class="icon"><icon name="scheduled" /></span>
              <span class="text">Scheduled</span>
            </div>
            <div class="button-flex-inner publish-published">
              <span class="icon"><icon name="published" /></span>
              <span class="text">Published</span>
            </div>
            <div class="button-flex-inner publish-draft">
              <span class="icon"><icon name="draft" /></span>
              <span class="text">Draft</span>
            </div>
          </button>
        </section>
      </div>
    </div>

    {{! show different scripts in view/edit mode }}
    {{#if @root.locals.edit}}
      <script>
          {{{ read 'node_modules/clay-kiln/dist/clay-kiln-edit.js' }}}
      </script>
    {{else}}
      <script>
          {{{ read 'node_modules/clay-kiln/dist/clay-kiln-view.js' }}}
      </script>

      {{! logo to display when going into edit mode }}
      <div class="clay-kiln-logo">{{{ read 'node_modules/clay-kiln/media/clay-logo.svg' }}}</div>
    {{/if}}
  </div>
{{else}}
  {{! if no user is logged in, only have the toggle to enter edit mode }}
  <style>
    {{{ read 'node_modules/clay-kiln/dist/clay-kiln-view-public.css' }}}
  </style>
  <div class="clay-kiln-logo">{{{ read 'node_modules/clay-kiln/media/clay-logo.svg' }}}</div>
  {{! secret code to enter edit mode }}
  <script>
    {{{ read 'node_modules/clay-kiln/dist/clay-kiln-view-public.js' }}}
  </script>
{{/if}}
